<div class="container p-3 my-3">
  <h1 class="title">Hey, <%= current_user.email %>!</h1>
  <h3 class="subtitle">This is your dashboard</h3>
  <%# Each person's expressions %>
  <p>User id: <%= current_user.id %>   Meeting id: <%= @meeting.id %></p>
  <div class="container d-flex">
    <div class="row">

    </div>
  </div>
  <%# //Each person's expressions %>
  <%#  %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Engagement</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Comparison</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Advice</a>
    </li>
  </ul>
  <%#  %>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <%#  %>
    This is the home tab
    <div class="container d-flex">
      <div class="row">
        <% @participants.each_with_index do |participant, index| %>
          <% @disengaged_count = 0 %>
          <% @engaged_count = 0 %>
          <div class="col-lg-4 mb-4">
            <div class="card-person border m-2 p-2">
              <% @each_emotions = Expression.all.where(participant_id: participant.id) %>
              <p><i class="fas fa-user mr-2"></i>Partipant# : <%= index +1 %></p>
              <% @each_emotions.each do |emotion| %>
                <% if @disengaged.include?(emotion.emotion) %>
                  <% @disengaged_count += 1 %>
                <% else %>
                  <% @engaged_count += 1 %>
                <% end %>
              <% end %>
              <canvas
                  data-controller="chart"
                  data-chart-type-value="bar"
                  data-chart-data-value='{ "labels": ["Engaged", "Diengaged"],
                                        "datasets": [{ "label": "participant <%= index +1 %> engagement",
                                        "backgroundColor": ["rgba(143, 100, 197, 0.7)",
                                                            "rgba(229, 8, 144, 0.7)"],
                                        "borderColor": "#3B82F6",
                                          "data": [<%= @engaged_count %>,<%= @disengaged_count %>]}] }'
              ></canvas>
              <p><%= @engaged_count %> : <%= @disengaged_count %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <%# first parent tab end %>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="home-tab">
      <div class="chsubTitle">Let's compare engagement with your previous few meetings!</div>
      <div class="container d-flex">
        <div class="row">
          Under construction!
        </div>
      </div>
    </div>
    <%# second parent tab end %>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
      <div class="chsubTitle">This is the 2nd page!</div>
      <div class="container d-flex">
        <div class="row">
          <% @participants.each_with_index do |participant, index| %>
            <% @disengaged_count = 0 %>
            <% @engaged_count = 0 %>
            <div class="col-lg-4 mb-4">
              <div class="card-person border m-2 p-2">
                <% @each_emotions = Expression.all.where(participant_id: participant.id) %>
                <p><i class="fas fa-user mr-2"></i>Partipant# : <%= index +1 %></p>
                <% @emotions = [
                  Expression.all.where(participant_id:participant.id).where(emotion:"happy").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"sad").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"neutral").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"angry").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"disgusted").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"surprised").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"fearful").count
                ] %>
                <%= @emotions %>
                <canvas
                    data-controller="chart"
                    data-chart-type-value="bar"
                    data-chart-data-value='{ "labels": ["Happy", "Sad", "Neutral", "Angry", "Disgusted", "Surprised", "Fearful"],
                                            "datasets": [{ "label": "Zoom participant emotions",
                                            "backgroundColor": ["rgba(255, 99, 132, 0.9)", "rgba(255, 159, 64, 0.9)", "rgba(255, 205, 86, 0.9)", "rgba(75, 192, 192, 0.9)", "rgba(54, 162, 235, 0.9)", "rgba(153, 102, 255, 0.9)", "rgba(153, 132, 131, 0.9)"],
                                            "borderColor": "rgba(54, 162, 235, 0.2)",
                                            "data":<%= @emotions %>}] }'
                ></canvas>
              </div>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  <%# third parent tab end %>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="chsubTitle">Your participants' emotions and advice!</div>
      <div class="container d-flex">
        <div class="row">
          <% @participants.each_with_index do |participant, index| %>
            <% @disengaged_count = 0 %>
            <% @engaged_count = 0 %>
            <div class="col-lg-4 mb-4">
              <div class="card-person border m-2 p-2">
                <% @each_emotions = Expression.all.where(participant_id: participant.id) %>
                <p><i class="fas fa-user mr-2"></i>Partipant# : <%= index +1 %></p>
                <% @emotions = [
                  Expression.all.where(participant_id:participant.id).where(emotion:"happy").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"sad").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"neutral").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"angry").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"disgusted").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"surprised").count,
                  Expression.all.where(participant_id:participant.id).where(emotion:"fearful").count
                ] %>
                <%= @emotions %>
                <canvas
                    data-controller="chart"
                    data-chart-type-value="bar"
                    data-chart-data-value='{ "labels": ["Happy", "Sad", "Neutral", "Angry", "Disgusted", "Surprised", "Fearful"],
                                            "datasets": [{ "label": "Zoom participant emotions",
                                            "backgroundColor": ["rgba(255, 99, 132, 0.9)", "rgba(255, 159, 64, 0.9)", "rgba(255, 205, 86, 0.9)", "rgba(75, 192, 192, 0.9)", "rgba(54, 162, 235, 0.9)", "rgba(153, 102, 255, 0.9)", "rgba(153, 132, 131, 0.9)"],
                                            "borderColor": "rgba(54, 162, 235, 0.2)",
                                            "data":<%= @emotions %>}] }'
                ></canvas>
              </div>
            </div>
          <% end %>
        </div>
        </div>
      </div>
    </div>
</div>


        <%# <h3 class="emotions">Neutral participants: Some participants seemed uninterested. Try to keep everyone involved in meetings. blah blahb la h blahbla hblahb lahblah</h3>
        <h3 class="emotions">Sad: Some participants seemed sad. Be mindful of what you discuss in meetings and try to understand how your words could affect others.</h3>
        <h3 class="emotions">Angry: Some participants seemed angry. Try to make sure others are being listened to by you.</h3>
        <h3 class="emotions">Fearful: No participants seemed fearful! Good work 👏</h3>
        <h3 class="emotions">Disgusted: No participants seemed disgusted! Good work 👏</h3>
    </div> %>


<%# "data":<%= @emotions }] }' %>
      <%# <canvas
        data-controller="chart"
        data-chart-type-value="doughnut"
        data-chart-data-value='{ "labels": ["Happy", "Sad", "Neutral", "Angry", "Disgusted", "Surprised", "Fearful"],
                                "datasets": [{ "label": "Zoom participant emotions",
                                "backgroundColor": ["rgba(255, 99, 132, 0.9)", "rgba(255, 159, 64, 0.9)", "rgba(255, 205, 86, 0.9)", "rgba(75, 192, 192, 0.9)", "rgba(54, 162, 235, 0.9)", "rgba(153, 102, 255, 0.9)", "rgba(153, 132, 131, 0.9)"],
                                <%# "borderColor": "rgba(54, 162, 235, 0.2)", %>
                                <%# "data":<%= @emotions }] }' %>
      <%# ></canvas> %>

      <%# <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="happy-tab" data-toggle="tab" href="#happy" role="tab" aria-controls="happy" aria-selected="true">Happy</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="surprised-tab" data-toggle="tab" href="#surprised" role="tab" aria-controls="surprised" aria-selected="false">Surprised</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="neutral-tab" data-toggle="tab" href="#neutral" role="tab" aria-controls="neutral" aria-selected="false">Neutral</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="angry-tab" data-toggle="tab" href="#angry" role="tab" aria-controls="angry" aria-selected="true">Angry</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="disgusted-tab" data-toggle="tab" href="#disgusted" role="tab" aria-controls="disgusted" aria-selected="false">Disgusted</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="sad-tab" data-toggle="tab" href="#sad" role="tab" aria-controls="sad" aria-selected="false">Sad</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="fearful-tab" data-toggle="tab" href="#fearful" role="tab" aria-controls="fearful" aria-selected="false">Fearful</a>
        </li>
      </ul> %>

        <%# first nested emotion tab end%>
        <%# <div class="tab-pane fade show active" id="neutral" role="tabpanel" aria-labelledby="neutral-tab">
          <div>hi</div>
        </div>
        <div class="tab-pane fade show active" id="angry" role="tabpanel" aria-labelledby="angry-tab">
          <div>hi</div>
        </div>
        <div class="tab-pane fade show active" id="disgusted" role="tabpanel" aria-labelledby="disgusted-tab">
          <div>hi</div>
        </div>
        <div class="tab-pane fade show active" id="sad" role="tabpanel" aria-labelledby="sad">
          <div>hi</div>
        </div>
        <div class="tab-pane fade show active" id="fearful" role="tabpanel" aria-labelledby="fearful-tab">
          <div>hi</div>
        </div> %>
