<div class="container p-3 my-3">
  <!--p class="subtitle">Hey, <%= current_user.email %>!</p-->
  <h1 class="title"><i class="fas fa-chart-line mr-2"></i>Dashboard</h1>
  <p>User id: <%= current_user.id %>   Meeting id: <%= @meeting.id %></p>
  <%# Total scores %>
  <%= render 'shared/scores' %>
  <%# //Total scores %>

  <%# Average %>
  <div class="row mb-4">
    <div class="col-lg-7 col-md-12 ">
      <div class="card radius-10">
      <% @disengaged_count = 0 %>
      <% @engaged_count = 0 %>
        <% @participants.each do |participant| %>
          <% @each_emotions = Expression.all.where(participant_id: participant.id) %>
          <% @each_emotions.each do |emotion| %>
            <% if @disengaged.include?(emotion.emotion) %>
              <% @disengaged_count += 1 %>
            <% else %>
              <% @engaged_count += 1 %>
            <% end %>
          <% @all_emotions << emotion.emotion %>
          <% end %>
        <% end %>
        <% @all_emotions %>
        <% @all_emotions_array = [
          @all_emotions.count("happy"),
          @all_emotions.count("neutral"),
          @all_emotions.count("sad"),
          @all_emotions.count("angry"),
          @all_emotions.count("disgusted"),
          @all_emotions.count("fearful"),
        ] %>
        <% @total = @disengaged_count + @engaged_count %>
        <canvas
            data-controller="chart"
            data-chart-type-value="doughnut"
            data-chart-data-value='{ "labels": ["Engaged", "Disengaged"],
                                    "datasets": [{ "label": "Zoom participant emotions",
                                    "backgroundColor": ["rgba(143, 100, 197, 0.7)",
                                              "rgba(229, 8, 144, 0.7)"],
                                    "borderColor": "rgba(54, 162, 235, 0.2)",
                                    "data":[ <%= @engaged_count %>, <%= @disengaged_count %>]}] }'
        ></canvas>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card radius-10">
        <canvas
            data-controller="chart"
            data-chart-type-value="bar"
            data-chart-data-value='{ "labels": ["Happy", "Neutral", "Surprised", "Sad", "Angry", "Disgusted", "Fearful"],
                                    "datasets": [{ "label": "Zoom participant emotions",
                                    "backgroundColor": ["rgba(255, 99, 132, 0.9)", "rgba(255, 159, 64, 0.9)", "rgba(255, 205, 86, 0.9)", "rgba(75, 192, 192, 0.9)", "rgba(54, 162, 235, 0.9)", "rgba(153, 102, 255, 0.9)", "rgba(153, 132, 131, 0.9)"],
                                    "borderColor": "rgba(54, 162, 235, 0.2)",
                                    "data":<%= @all_emotions_array %>}] }'
        ></canvas>
      </div>
      <div class="card radius-10 p-4">
        <p class="d-flex align-items-center">
          <i class="fas fa-clock mr-2" style="font-size: 40px;color: #54a4e4;"></i>
          <%= @meeting.start_at.strftime('%Y/%m/%d %H:%M:%S') %> 〜 <%= @meeting.end_at.strftime('%Y/%m/%d %H:%M:%S') if !@meeting.end_at.nil?%>
        </p>
      </div>
    </div>
  </div>
   <%# //Average %>

    <%# Tabs %>
    <div class="section mt-5">
      <%# Tabs headers %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item px-3" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <i class="fas fa-bullseye ml-4 mr-2"></i>Engagement</a>
        </li>
        <li class="nav-item px-3" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <i class="fas fa-signal ml-4 mr-2">
          </i>Comparison</a>
        </li>
        <li class="nav-item px-3" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
          <i class="far fa-comment ml-4 mr-2"></i>Advice</a>
        </li>
      </ul>
      <%# //Tabs headers %>
      <%#  %>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%#  %>
        Each participant engagement:

          <div class="row">
            <% @participants.each_with_index do |participant, index| %>
              <div class="col-lg-4 my-5">
                <div class="card-person border m-2 p-2">
                  <%= render 'shared/engaged', participant: participant, index: index %>
                </div>
              </div>
            <% end %>
          </div>

      </div>
      <%# first parent tab end %>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="home-tab">
        <div class="chsubTitle mt-4">Let's compare engagement with your previous few meetings!</div>

          <div class="row">
            <%#= @five_meetings_results %>
            <%#= @five_meetings_engaged %>
            <%#= @five_meetings_disengaged %>
            <div class="col-lg-12 p-5">
              <canvas
                data-controller="chart"
                data-chart-type-value="bar"
                data-chart-data-value='{ "labels": ["1", "2","3", "4", "5"],
                                        "datasets": [{ "label": "Zoom participant emotions",
                                        "backgroundColor": ["rgba(200, 200, 200, 0.7)","rgba(200, 200, 200, 0.7)","rgba(150, 150, 150, 0.7)","rgba(100, 100, 100, 0.7)",
                                                  "rgba(229, 8, 144, 0.7)"],
                                        "borderColor": "rgba(54, 162, 235, 0.2)",
                                        "data": <%= @five_meetings_results %>}] }'
                ></canvas>
            </div>
        </div>
      </div>
      <%# second parent tab end %>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
        <div class="chsubTitle mt-4">Your participants' emotions!</div>

          <div class="row">
            <% @participants.each_with_index do |participant, index| %>
              <div class="col-lg-4 my-4">
                <div class="card-person border m-2 p-2">
                  <%= render 'shared/advice', participant: participant, index: index %>
                </div>
              </div>
            <% end %>
          </div>

      </div>
      <%# [Hidden] third parent tab end %>
      <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="chsubTitle">Your participants' emotions and advice!</div>
        <div class="container d-flex">
          <div class="row">
            <% @participants.each_with_index do |participant, index| %>
              <% @disengaged_count = 0 %>
              <% @engaged_count = 0 %>
              <div class="col-lg-4 mb-4">
                <div class="card-person border m-2 p-2">
                  <% @each_emotions = Expression.all.where(participant_id: participant.id) %>
                  <p><i class="fas fa-user mr-2"></i>Partipant# : <%= index +1 %></p>
                  <% @emotions = [
                    Expression.all.where(participant_id:participant.id).where(emotion:"happy").count,
                    Expression.all.where(participant_id:participant.id).where(emotion:"sad").count,
                    Expression.all.where(participant_id:participant.id).where(emotion:"neutral").count,
                    Expression.all.where(participant_id:participant.id).where(emotion:"angry").count,
                    Expression.all.where(participant_id:participant.id).where(emotion:"disgusted").count,
                    Expression.all.where(participant_id:participant.id).where(emotion:"surprised").count,
                    Expression.all.where(participant_id:participant.id).where(emotion:"fearful").count
                  ] %>
                  <%= @emotions %>
                  <canvas
                      data-controller="chart"
                      data-chart-type-value="bar"
                      data-chart-data-value='{ "labels": ["Happy", "Sad", "Neutral", "Angry", "Disgusted", "Surprised", "Fearful"],
                                              "datasets": [{ "label": "Zoom participant emotions",
                                              "backgroundColor": ["rgba(255, 99, 132, 0.9)", "rgba(255, 159, 64, 0.9)", "rgba(255, 205, 86, 0.9)", "rgba(75, 192, 192, 0.9)", "rgba(54, 162, 235, 0.9)", "rgba(153, 102, 255, 0.9)", "rgba(153, 132, 131, 0.9)"],
                                              "borderColor": "rgba(54, 162, 235, 0.2)",
                                              "data":<%= @emotions %>}] }'
                  ></canvas>
                </div>
              </div>
            <% end %>
          </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
