  <%= render 'shared/modal' %>
<div class="container p-3 my-3">
  <h1 class="title"><i class="fas fa-chart-line mr-2"></i>Dashboard</h1>
  <p>User id: <%= current_user.id %>   Meeting id: <%= @meeting.id %></p>
  <%# Total scores %>
  <%= render 'shared/scores' %>
  <%# //Total scores %>

  <%# Average %>
  <div class="row mb-4">
    <div class="col-lg-7 col-md-12 ">
      <div class="card radius-10">
        <canvas
            data-controller="chart"
            data-chart-type-value="doughnut"
            data-chart-data-value='{ "labels": ["Engaged", "Disengaged"],
                                    "datasets": [{ "label": "Zoom participant emotions",
                                    "backgroundColor": ["rgba(73, 200, 200, 0.6)",
                                              "rgba(229, 8, 144, 0.6)"],
                                    "borderColor": "rgba(54, 162, 235, 0.2)",
                                    "data":[ <%= @engaged_count %>, <%= @disengaged_count %>]}] }'
        ></canvas>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card radius-10">
        <canvas
            data-controller="chart"
            data-chart-type-value="bar"
            data-chart-data-value='{ "labels": ["Happy", "Neutral", "Surprised", "Sad", "Angry", "Disgusted", "Fearful"],
                                    "datasets": [{ "label": "Zoom participant emotions",
                                    "backgroundColor": ["rgba(255, 99, 132, 0.9)", "rgba(255, 159, 64, 0.9)", "rgba(255, 205, 86, 0.9)", "rgba(75, 192, 192, 0.9)", "rgba(54, 162, 235, 0.9)", "rgba(153, 102, 255, 0.9)", "rgba(153, 132, 131, 0.9)"],
                                    "borderColor": "rgba(54, 162, 235, 0.2)",
                                    "data":<%= @emotions_array %>}] }'
            data-chart-options-value="<%= @chart_options.to_json %>"
        ></canvas>
      </div>
      <div class="card radius-10 p-4">
        <p class="d-flex align-items-center">
          <i class="fas fa-clock mr-2" style="font-size: 40px;color: #54a4e4;"></i>
          <%= @meeting.start_at.strftime('%Y/%m/%d %H:%M:%S') %> 〜 <%= @meeting.end_at.strftime('%Y/%m/%d %H:%M:%S') if !@meeting.end_at.nil?%>
        </p>
      </div>
    </div>
  </div>
   <%# //Average %>

    <%# Tabs %>
    <div class="section mt-5">
      <%# Tabs headers %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item px-3" role="presentation">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <i class="fas fa-bullseye ml-4 mr-2"></i>Engagement</a>
        </li>
        <li class="nav-item px-3" role="presentation">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <i class="fas fa-signal ml-4 mr-2">
          </i>Comparison</a>
        </li>
        <li class="nav-item px-3" role="presentation">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
          <i class="far fa-comment ml-4 mr-2"></i>Advice</a>
        </li>
      </ul>
      <%# //Tabs headers %>
      <%#  %>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-4" id="home" role="tabpanel" aria-labelledby="home-tab">

          <div class="row">
            <% @participants.each_with_index do |participant, index| %>
              <div class="col-lg-4 my-5">
                <div class="card-person border m-2 p-2">
                  <%= render 'shared/engaged', participant: participant, index: index %>
                </div>
              </div>
            <% end %>
          </div>

      </div>
      <%# first parent tab end %>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="home-tab">
        <div class="chsubTitle mt-4"></div>
        <div class="row">
          <div class="col-lg-12 p-5">
            <canvas
              data-controller="chart"
              data-chart-type-value="bar"
              data-chart-data-value='{ "labels": ["<%= @five_meetings_dates[0] %>",
                                                   "<%= @five_meetings_dates[1] %>",
                                                   "<%= @five_meetings_dates[2] %>",
                                                   "<%= @five_meetings_dates[3] %>",
                                                    "Latest"],
                                      "datasets": [{ "label": "Comparison with previous meetings",
                                      "backgroundColor": ["rgba(200, 200, 200, 0.7)","rgba(200, 200, 200, 0.7)","rgba(150, 150, 150, 0.7)","rgba(100, 100, 100, 0.7)",
                                                "rgba(229, 8, 144, 0.7)"],
                                      "borderColor": "rgba(54, 162, 235, 0.2)",
                                      "data": <%= @five_meetings_results %>}] }'
              data-chart-options-value="<%= @chart_options.to_json %>"
              ></canvas>
          </div>
        </div>
      </div>
      <%# second parent tab end %>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
        <div class="chsubTitle mt-4"></div>
          <div class="message d-flex align-items-center">
            <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white mr-5"><i class="fas fa-check"></i></div>
            <div class="d-flex flex-column text-left">
              <p class="mr-3">You got a lot of  <span style="font-size: 32px;"><%= @message[:emoji] %></span> faces...</p>
              <p><i class="far fa-lightbulb mr-2"></i>Please remember this: <br>
                <% @message[:tips].each do |message| %>
                 <p>-<%= message %></p>
                <% end %>
              </p>
            </div>
          </div>
          <div class="row">
            <% @participants.each_with_index do |participant, index| %>
              <div class="col-lg-4 my-4">
                <div class="card-person border m-2 p-2">
                  <%= render 'shared/advice', participant: participant, index: index %>
                </div>
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>
