<!-- code a Hero / Banner section -->
<div class='banner' style="background-image: url(<%= "background.png" %>) no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="pic_container">
          <%= image_tag "trainEQ_logotype_128x.png" %>
        </div>
        <div class="text">
          <h1 class="animate__animated animate__bounce">For ambitious professionals having trouble feeling all the feels</h1>
          <p>Instantly understand your online team more clearly and more deeply to get ahead and boost your communication skills.</p>
          <%# <a href="https://www.lewagon.com/" class="btn btn-blue hvr-float-shadow">Download</a> %>
          <a href="/chrome-extension" class="btn btn-grad">Download</a>
        </div>
      </div>
      <div class="col-md-7">
        <div>
          <%= image_tag "combined_images.png", class:"mac" %>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- code a "How it works" section -->
  <div class="container">
  <h2 class="sub-section">How it works</h2>
  <div id="works">
    <div class="card-trip">
      <%= image_tag "uspeed.svg", class:"trip-img" %>
      <div class="card-trip-infos">
        <div>
          <h2>Real-time</h2>
          <p>Provides useful in-meeting feedback</p>
        </div>
        <%= image_tag "check.png", class:"card-trip-user avatar-bordered" %>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag "uanalysis.svg", class:"trip-img" %>
      <div class="card-trip-infos">
        <div>
          <h2>Intuitive</h2>
          <p>Super easy to understand</p>
        </div>
        <%= image_tag "check.png", class:"card-trip-user avatar-bordered" %>
      </div>
    </div>
    <div class="card-trip">
      <%= image_tag "ugoals.svg", class:"trip-img" %>
      <div class="card-trip-infos">
        <div>
          <h2>Stat-keeping</h2>
          <p>Track your communication progress over time</p>
        </div>
        <%= image_tag "check.png", class:"card-trip-user avatar-bordered" %>
      </div>
    </div>
  </div>
  </div>

  <!-- code a "How to use" section -->
  <%# <div class="container">
    <h2 class="sub-section">How to use</h2>
    <div class="row">
      <div class="box-image col-lg-6">
        <span>Here you can put image</span> %>
          <%# <img src="images/image_tech.png" alt="" style="width: 100%;"> %>
          <%# <%= image_tag "image_tech.png", style:"width: 100%;" %>
      <%# </div>
      <div class="box-description col-lg-6">
        <span>Here you can put description</span> %>
      <%# </div>
    </div>
  </div> %>

  <!-- code a footer -->
  <%# <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-feather-alt"></i> by trainEQ.</p>
    </div>
  </div> %>


  <%# <script>
    ityped.init(document.querySelector("#ityped"), {
    strings: ['Communication tool', 'for the ambitious professional', 'Welcome to Into the Program!']
    })
  </script> %>
